*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'SUSE', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-image: url('../img/img-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header#home nav {
    display: flex;
    position: fixed;
    top: 16px;
    z-index: 9999;
    padding: 8px;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 64px;
    background-color: black;
}

header#home ul {
    display: flex;
    gap: 18px;
}

header#home a {
    color: white;
}

header#home a:hover {
    font-weight: 600;
    text-decoration: underline;
}

header#home .header-button {
    color: black;
    background-color: white;
    padding: 6px;
    border-radius: 12px;
}

header#home nav img.icon-menu,
header#home nav img.icon-close {
    display: none;
}

header#home .header-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    max-width: 1000px;
}

header#home .header-intro h1 {
    font-size: 64px;
}

header#home .header-intro p {
    font-size: 24px;
    max-width: 800px;
}

header#home .header-intro a {
    font-size: 18px;
}

header#home .header-intro-button {
    color: white;
    background-color: black;
    padding: 12px;
    border-radius: 16px;
}

main {
    display: flex;
    margin-inline: auto;
    text-align: center;
    max-width: 95%;
}

header div {
    display: inline-flex;
    gap: 8px;
    font-weight: 500;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 2px 4px 0;
    padding: 2px 8px;
    border-radius: 999px;
}

article#about {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article#about section {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
    box-shadow: 2px 4px 8px 2px;
    border-radius: 8px;
    margin: 16px 0;
}

article#about section h2 {
    font-size: 32px;
}

article#about section p {
    font-size: 18px;
    text-align: justify;
}

article#blog {
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article#blog .blog-section {
    display: flex;
    gap: 16px;
}

article#blog section, aside section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
    box-shadow: 2px 4px 8px 2px;
    border-radius: 8px;
    margin: 16px 0;
}

section p {
    text-align: justify;
}

aside {
    width: 70%;
    margin: 75px auto;
}

aside section img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    object-fit: cover;
}

aside .social-media ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

aside .social-media ul li a:hover{
    color: white;
    text-decoration: underline;
}

footer.footer-content {
    text-align: center;
    background-color: black;
    color: white;
    padding: 16px 0;
}

@media screen and (max-width: 1150px) {
    main {
        flex-direction: column;
    }

    aside {
        width: 300px;
    }
}

@media screen and (max-width: 936px) {
    header#home .header-intro h1 {
        font-size: 48px;
    }

    header#home .header-intro p {
        font-size: 18px;
        max-width: 500px;
    }

    header#home .header-intro a {
        font-size: 14px;
    }
}

@media screen and (max-width: 730px) {

    header {
        width: 90%;
        margin: 0 auto;
    }

    header#home nav {
        width: 90%;
        justify-content: space-between;
    }

    header#home .header-nav a {
        font-size: 14px;
    }

    header#home .header-intro h1 {
        font-size: 32px;
    }

    header#home .header-intro p {
        font-size: 14px;
        max-width: 500px;
    }

    header#home .header-intro a {
        font-size: 12px;
    }

    header#home .header-intro-button {
        color: white;
        background-color: black;
        padding: 8px;
        border-radius: 8px;
    }

    main {
        width: 90%;
    }

    article#about section {
        flex-direction: column;
        gap: 0;
    }

    article#about section img {
        order: -1;
    }

    article#about {
        height: auto;
        margin: 24px 0;
    }
    article#blog {
        height: auto;
    }

    article#about header p,
    article#blog header p {
        font-size: 14px;
    }

    article#about header h1,
    article#blog header h1 {
        font-size: 18px;
    }

    article#about section h2,
    article#blog section h2 {
        font-size: 24px;
    }

    article#about section p,
    article#blog section p {
        font-size: 14px;
    }

    article#blog .blog-section {
        flex-direction: column;
        gap: 0;
    }

    aside {
        height: auto;
    }

    aside p {
        font-size: 14px;
    }

    aside section img {
        width: 130px;
        height: 130px;
    }

    footer p {
        font-size: 14px;
        padding: 0 16px;
    }

}

@media screen and (max-width: 535px) {

    header#home nav ul,
    header#home nav .header-button {
        display: none;
    }

    header#home nav {
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }

    header#home nav img.icon-menu {
        display: block;
    }

    footer p {
        display: none;
    }

    /*  Script  */
    /* Default state: Show icon-logo and icon-menu, hide nav ul and icon-close */
    header#home nav .icon-logo {
        display: block;
    }

    header#home nav .icon-menu {
        display: block;
    }

    header#home nav .icon-close,
    header#home nav ul {
        display: none;
    }

    /* State when menu is active */
    header#home nav .icon-logo.hidden,
    header#home nav .icon-menu.hidden {
        display: none;
    }

    header#home nav .icon-close.show,
    header#home nav ul.show {
        display: flex;
    }


}